<!DOCTYPE html>
<html lang="pl">

  <head>
    <meta charset="utf-8">
    <title>Szukaj w Google</title>
    <link rel="icon"  href="images_google/icon.png">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="style_results.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="./cities.js"></script>
  </head>

  <body> 
    <!--class="home" for google home page / class="results" for google results page-->
    <div id="app" :class="[googleSearch.length > 0 ? 'results' : 'home']"> 
      
    <nav class="nav_tools">
        <a href ="#">Gmail</a>
        <a href ="#">Grafika</a>
        <img src="images_google/bars.png" class="google_apps" role="button"></img>
        <button>Zaloguj się</button>
    </nav>

    <section class="search">
        <img src="images_google/google.png" class="logo">
        <form><br><br>
            <div class="search_elements">
                <input ref="first" v-model="googleSearch" type="text" class="search_input"/>
                <img src="images_google/search.png" class="search_icon"/>
                <img src="images_google/mic.png" class="search_voice"/>
                <input type="button" class="search_button" value="Sukaj w google"/>
                <input type="button" class="search_button" value="Szczęśliwy traf"/>
            </div>
        </form>
    </section>

    <footer class="home_futter">
        <h4>Polska</h4>
        <div class="links">
            <div class="link_1">
                <a href="#">O nas</a>
                <a href="#">Reklamuj się</a>
                <a href="#">Dla firm</a>
                <a href="#">Jak działa wyszukiwarka</a>
            </div>
            <div class="link_2">
                <a href="#"><img src="images_google/leaf.png" class="leaf">Nautralność węglowa od 2007 roku</a>
            </div>
            <div class="link_3">
                <a href="#">Prywatność</a>
                <a href="#">Warunki</a>
                <a href="#">Ustawienia</a>
            </div>
        </div>
    </footer>

    
    <div class="top_nav">

        <img src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_92x30dp.png" alt="">

        <ul class="accountOptions">
          <li><a href="#"><img src="images_google/bars.png" class="google_apps" role="button"></a></li>
          <li><button class="signIn" type="button" name="button">Zaloguj się</button></li>
        </ul>

        <div class="search_tools">

          <div class="search_elem">
            <input ref="second" type="text" v-model="googleSearch">
            <img src="images_google/loupe_icon.png" class="search_icon">
            <img src="images_google/mic.png" class="search_voice">
            <img src="images_google/keyboard.png" class="search_keyboard">
            <div class="line"></div>
            <img src="images_google/x.png" class="search_x">
          </div>

          <ul class="search_options">
            <li class="left active"><a href="#">Wszystko</a></li>
            <li class="left"><a href="#">Wiadomości</a></li>
            <li class="left"><a href="#">Grafika</a></li>
            <li class="left"><a href="#">Wideo</a></li>
            <li class="left"><a href="#">Mapy</a></li>
            <li class="left"><a href="#">Więcej</a></li>
            <li class="right"><a class="tools" href="#">Narzędzia</a></li>
            <li class="right"><a href="#">Ustawienia</a></li>
          </ul>
          
        </div>

    </div> 

    <div class="searchResults">

        <p class="results_number">Około 14 700 000 wyników (0,34 s)</p>

        <div class="cities">
          <a class="link">Miasta zawierające "{{googleSearch}}":</a>
          <ul>
            <li v-for="city in filteredCities">
              {{ city.name }}
            </li>
          </ul>
        </div>

        <div class="result">
          <a class="link" href="#">support.google.com › websearch › answer</a><button>▼</button>
          <h2><a href="#">Sprawdzanie wyników wyszukiwania podróży przez Gmaila ...</a></h2>
          <p>Zobacz wyniki z innego konta Google. Uwaga: aby wykonać te czynności, musisz zalogować się na konto Google. Na telefonie lub tablecie z Androidem otwórz ...</p>
        </div>

        <div class="result">
          <a class="link" href="#">support.google.com › websearch › answer</a><button>▼</button>
          <h2><a href="#">Usunięcie informacji z Google - Wyszukiwarka Google - Pomoc</a></h2>
          <p>Aby usunąć informacje o sobie z wyników wyszukiwania Google, najlepiej jest skontaktować się z właścicielem witryny, który je opublikował. Gdy zostaną usunięte ...</p>
        </div>

        <div class="result">
          <a class="link" href="#">www.pozycjonusz.pl › rodzaje-wynikow-wyszukiwania...</a><button>▼</button>
          <h2><a href="#">Rodzaje wyników wyszukiwania Google - ponad 20 ...</a></h2> 
          <p>7) Wewnętrzna wyszukiwarka. Rodzaje wyników wyszukiwania Google wzbogacono jakiś czas temu o funkcję wewnętrznej wyszukiwarki. To rozwiązanie, bez ...</p>
        </div>

        <div class="result">
          <a class="link" href="#">widoczni.com › blog › jak-wyszukiwac-w-google</a><button>▼</button>
          <h2><a href="#">14 sposobów wyszukiwania w Google, których 95% z Was nie ...</a></h2> 
          <p>>Szukanie frazy – zastosowanie cudzysłowu. Wyniki wyszukiwania w Google konkretnych fraz mogą być bardziej trafne, gdy zastosujemy cudzysłów. Algorytmy ...</p>
        </div>

        <div class="result">
          <a class="link" href="#">www.empressia.pl › blog › 115-rozne-wyniki-wyszuki...</a><button>▼</button>
          <h2><a href="#">Wyniki wyszukiwań Google – skąd takie rozbieżności?</a></h2>
          <p><span>21 lut 2019 — </span>Otóż inaczej będą prezentować się wyniki wyszukiwania po wpisaniu tej samej frazy przez ... Google przechwytuje adres IP i za jego pomocą generuje wyniki, np. po wpisaniu frazy ... Jaki jest koszt pozycjonowania sklepu?</p>
        </div>

        <div class="result">
          <a class="link" href="#">www.telepolis.pl › wiadomosci › aplikacje › wyszukiwa...</a><button>▼</button>
          <h2><a href="#">Wyszukiwarka Google powie więcej o wynikach wyszukiwania ...</a></h2>
          <p><span>2 lut 2021 — </span>Szczegóły wyników wyszukiwania w Google. W polu z informacjami o ... co masz do Wikipedii? Jeśli widzisz jakiś błąd, to możesz go poprawić.</p>
        </div>

        <div class="result">
          <a class="link" href="#">developers.google.com › advanced › guidelines › video</a><button>▼</button>
          <h2><a href="#">Sprawdzone metody dotyczące filmów | Google Search Central</a></h2>
          <p>Wyniki wyszukiwania filmów w wyszukiwarce Google pojawiają się zarówno w ... Umieść jakiś rodzaj ekranu logowania do strony z filmem i samego filmu.</p>
        </div>

        <div class="result">
          <a class="link" href="#">www.whitepress.pl › baza-wiedzy › na-czym-polega-po...</a><button>▼</button>
          <h2><a href="#">Co to jest pozycjonowanie? Od czego zacząć? Zobacz nasz ...</a></h2>
          <p>Zobacz jaki wpływ na pozycje ma pozycjonowanie i jak je wykonać samemu. ... Z samej wyszukiwarki Google miesięcznie korzysta około 20 mln Internautów, co ... użytkownicy odnaleźli naszą witrynę internetową w wynikach wyszukiwania.</p>
        </div>
<!--
       <div class="result">
          <a class="link" href="#">developers.google.com › beginner › seo-starter-guide</a><button>▼</button>
          <h2><a href="#">SEO – przewodnik dla początkujących: podstawy | Centrum ...</a></h2>
          <p>Uwzględnienie witryny w wynikach wyszukiwania Google jest proste i bezpłatne. ... Tag <title> informuje zarówno użytkowników, jak i wyszukiwarki, jaki jest ...</p>
        </div>

        <div class="result">
          <a class="link" href="#">ks.pl › blog › jak-sprawdzic-pozycje-strony-w-google</a><button>▼</button>
          <h2><a href="#">Pozycja w Google – jak sprawdzić, na której pozycji jest moja ..</a></h2>
          <p>Tak naprawdę nie są znane wszystkie kryteria, jakimi kieruje się algorytm, nadając stronom pozycje w wynikach wyszukiwania. W dodatku algorytm jest co jakiś ...</p>
        </div>
-->
        <br>

        <div class="related_results">

          <h2>Wyszukiwania podobne do: jakiś wynik google</h2>

          <table>
            <tr>
              <td>Google Trends</td>
              <td>Oto niektóre wyniki wyszukiwania</td>
            </tr>
            <tr>
              <td>Wyniki wyszukiwania</td>
              <td>Wyszukiwanie w Internecie</td>
            </tr>
            <tr>
              <td>Wyniki wyszukiwania</td>
              <td>Bezpłatna wyszukiwarka osób</td>
            </tr>
            <tr>
              <td>Wyszukiwanie zaawansowane definicja</td>
              <td>Zasady wyszukiwania w Google</td>
            </tr>
          </table>

        </div>

        <br><br>

          <table class="pages">
            <tr>
              <td><span class="blue">G</span></td>
              <td><span class="red">o</span></td>
              <td><span class="yellow">o</span></td>
              <td><span class="yellow">o</span></td>
              <td><span class="yellow">o</span></td>
              <td><span class="yellow">o</span></td>
              <td><span class="yellow">o</span></td>
              <td><span class="yellow">o</span></td>
              <td><span class="yellow">o</span></td>
              <td><span class="yellow">o</span></td>
              <td><span class="yellow">o</span></td>
              <td><span class="blue">g</span></td>
              <td><span class="green">l</span></td>
              <td><span class="red">e</span></td>
              <td rowspan="2" style="width: 10px;"></td>
              <td><span class="blue arrow">></span></td>
            </tr>

            <tr>
              <td class="page_nr"></td>
              <td class="page_nr" style="color: black; cursor: text;">1</td>
              <td class="page_nr">2</td>
              <td class="page_nr">3</td>
              <td class="page_nr">4</td>
              <td class="page_nr">5</td>
              <td class="page_nr">6</td>
              <td class="page_nr">7</td>
              <td class="page_nr">8</td>
              <td class="page_nr">9</td>
              <td class="page_nr">10</td>
              <td colspan="3"></td>
              <td class="page_nr">Następna</td>
            </tr>

          </table>

      </div>

      <div class="footer">

        <div class="localization">
        <p>
          <a class="country">Polska</a>
          <a class="loc"><strong>Kraków</strong> - Z Twojego adresu internetowego </a>
          <a class ="loc_more">- Użyj dokładnej lokalizacji</a><a class ="loc_more"> - Dowiedz się więcej</a>
        </p>
      </div>

        <ul>
            <li><a href="#">Pomoc</a></li>
            <li><a href="#">Prześlij opinię</a></li>
            <li><a href="#">Prywatność</a></li>
            <li><a href="#">Warunki</a></li>
        </ul>
        
      </div>
    </div>
</body>
<script>
  var app = new Vue({
    el: '#app',
    data: {
      googleSearch: '',
      cities: window.cities,
    },

    computed: {
      filteredCities: function() {
        let result = this.cities.filter(city => city.name.includes(this.googleSearch));
        if(result.length>10){
          return result.slice(1,11);
        }
        return result;
      }
    },

    updated() {
        this.$nextTick(() => {

        if (this.googleSearch.length > 0) {

        this.$refs.second.focus();

        } else {

        this.$refs.first.focus();

        }
      })
    }
});
</script>
</html>