.search_elements .search_input {
	display: block;
	border: 1px solid rgb(255, 255, 255);
	font-size: 16px;
	padding: 13px;
	padding-left: 45px;
	border-radius: 25px;
	width: 100%;
	transition: box-shadow 100ms;
	outline: none;
	cursor: auto;
}

.vue-autocompleter {
	border: 1px solid #ddd;
	border-radius: 25px;
	outline: none;
	cursor: auto;
}
 
.vue-autocompleter:hover {
	border: 1px solid #fff;
	box-shadow: 0 0 5px rgba(172, 172, 172, 0.822);
}

.thin {
	font-weight: 500;
}

.vue-autocompleter .list li {
	list-style: none;
	background-image: url('images_google/search_icon.png');
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 20px;
	margin: 0 15px 0 15px;
	text-align: left;
	padding: 7px 5px 7px 30px;
}

/* .vue-autocompleter .list li:hover{
	background-color: rgb(240, 240, 240);
} */

.vue-autocompleter .list li.grey_content  {
	background-color: rgb(240, 240, 240);
}